.project{
    margin: 20px 0;
    &__subtitle{
        font-size: 1.2rem;
        color: #4A4A4A;
        font-weight: 600;
        text-decoration: double;
    }
    &__description{
        text-align: justify;
        @include atMedium{
            font-size: 1.1rem;
        }
    }
    &__links{
        margin: 10px 0; 
        a{
            color: $primary;
            margin: 6px 0;
            padding-right: 15px; 
            font-weight: 600;
            font-size: .9rem;
            border-radius: 3px;
            // &:hover{

            // }
        }
    }
}