* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.wrapper{
    padding-left: 1rem;
    padding-right: 1rem;
    @include atMedium{
        padding: 0 4rem;
    }
    @include atLarge{
        padding: 0 10rem;
    }
    margin: auto;
}

h1{
    font-size: 1.7rem;
    color: $highlight-color;
    @include atMedium{
        font-size: 2.3rem;
    }
}

button{
    background: $primary;
    color: #fff;
    padding: 8px 16px;      
    font-size: 1.1rem;
    border-radius: 3px;
}



body{
    color: $text-color;
    font-family: Outfit,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
    background-color: $background-color;
}

.section-margin{
    margin: 32px 0;
    @include atMedium{
        margin: 64px 0;
    }
}

.htitle{
    position: relative;
}
.htitle::before{
    content: "";
    position: absolute;
    top: -5px;
    right: 0px;
    bottom: 0px;
    left: -10px;
    background-image: url('../../assets/polkadot-bg.png');
    background-repeat: no-repeat;
    background-size: 134px auto;
    opacity: 0.3;
    z-index: -1;
}
